* {
    text-align: center;
    font-family: "Arial", serif;
    color: whitesmoke;
}

body {
    background-color:orangered;
}

a {
    text-decoration: none;
    background-color:tomato;
    padding: 12px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%
}

.link {
    margin: 20px;
}