* {
    text-align: center;
    font-family: "Helvetica", sans-serif;
    color: whitesmoke;
}

body {
    background-color:rebeccapurple
}

a {
    text-decoration: none;
    background-color:midnightblue;
    padding: 12px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%
}

.link {
    margin: 20px;
}